.App {
  text-align: center;
  color: red;
}


.App-header {
  background-color: #222;
  height: 150px;
  color: white;
  margin-top: 0px;
  padding-top: 0px;
}

.App-title {
  font-size: 1.0em;
  text-align: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
